# הערה: אפשר למחוק את ה-version בראש (היא לא נדרשת ב-compose v2)
services:
  minio:
    build:
      context: ../storage/minio-bootstrap   # <<< הנתיב לתיקייה שבה ה-Dockerfile שלך
      dockerfile: Dockerfile
    container_name: minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
      MINIO_PROMETHEUS_AUTH_TYPE: public
      HOT_ADDRESS: ":9000"
      HOT_CONSOLE: ":9001"
      COLD_ADDRESS: ":9100"
      COLD_CONSOLE: ":9101"
      HOT_ENDPOINT: "http://127.0.0.1:9000"
      COLD_ENDPOINT: "http://127.0.0.1:9100"
      MC_ALIAS_HOT: "hot"
      MC_ALIAS_COLD: "cold"
      MC_HOST_hot:  "http://minio:minioadmin123@127.0.0.1:9000"
      MC_HOST_cold: "http://minio:minioadmin123@127.0.0.1:9100"
    ports:
      - "9000:9000"
      - "9001:9001"
      - "9100:9100"
      - "9101:9101"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command: ["--config.file=/etc/prometheus/prometheus.yml"]
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    depends_on: [minio]

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on: [prometheus]
