apiVersion: batch/v1
kind: CronJob
metadata:
  name: ripeness-rollup
  namespace: vectordb
spec:
  schedule: "0 3 * * 1"   
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: ripeness
            image: ripeness-baseline:local
            imagePullPolicy: IfNotPresent
            env:
            - name: PGHOST
              valueFrom: { secretKeyRef: { name: pg-secret, key: host } }
            - name: PGPORT
              value: "5432"
            - name: PGDATABASE
              valueFrom: { secretKeyRef: { name: pg-secret, key: db } }
            - name: PGUSER
              valueFrom: { secretKeyRef: { name: pg-secret, key: user } }
            - name: PGPASSWORD
              valueFrom: { secretKeyRef: { name: pg-secret, key: password } }
      
            - name: FRUIT_TYPE
              value: "apple"

            - name: MINIO_URL
              value: "http://minio:9000"
            - name: MINIO_BUCKET
              value: "imagery"
            - name: MINIO_PREFIX
              value: "apple/test"
            - name: MINIO_ACCESS_KEY
              valueFrom: { secretKeyRef: { name: minio, key: accesskey } }
            - name: MINIO_SECRET_KEY
              valueFrom: { secretKeyRef: { name: minio, key: secretkey } }
          restartPolicy: OnFailure
